#form {
    padding-top: 30px;
    margin: 3%;
}

.pass {
    margin: 5%;
}

.emailHelp {
    padding: 10px;
}

.submit {

    padding-top: 30px;
}

#header {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    font-weight: 100;
    color: black;
    align-content: center;
}

body {
    background-image: ;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#forgot {
    margin: right 20px;
    padding: top 30px;
    s
}

#navbar {
    padding-left: 510px;

}

#header {
    font-size: 20px;
}

.navbar-text {
    font-size: 30px;
}

#button {
    padding-left: 30px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center
}

#psu {
    display: flex;
    box-sizing: border-box;
}

.test {
    display: flex;

    flex-wrap: wrap;
}

.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}

.container {
    text-align: center;

}

footer {
    margin-top: 100px;
}
